<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
</head>

<body>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <nav class="nav offset-1">
        <h2>Test App</h2>
        <a class="nav-link active offset-1" href="/">Home</a>
        <a class="nav-link active offset-5" href="/signinPage">Sign In</a>
    </nav>
    <hr>
    <div class="offset-1">
        <h1>Registration</h1>
        <div class="form-group col-8">
            <form action="/register" method="post">{% csrf_token %}
                <label for="fname">First Name:</label>
                <input type="text" class="form-control" name="fname">
                <label for="lname">Last Name:</label>
                <input type="text" class="form-control" name="lname">
                <label for="email">Email:</label>
                <input type="text" class="form-control" name="email">
                <label for="password">Password:</label>
                <input type="text" class="form-control" name="password">
                <label for="pw_confirm">Confirm Password:</label>
                <input type="text" class="form-control" name="pw_confirm">
                <input type="submit" class="btn btn-primary" value="Register">
            </form>
        </div>
    </div>

</body>

</html>